* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.881);
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::selection{
    background-color: #00afb586;
    color:#0f0f14;
}
#particles-js{
    height: 100vh;
}

.face {
    border-radius: 30%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.379);
    height: 10vh;
}

.container { 
    position: absolute;
    top:0;
    text-align: center;
    margin-top: 8vh;
    width: 70vw;
    word-wrap: break-word;
}

.intro{
    margin-left: 5vw;
    width: 90vw;
}

.intro p{
    text-shadow: 0px 0px 20px #000000, 0px 0px 20px #000000, 0px 0px 20px #000000, 0px 0px 20px #000000, 0px 0px 20px #000000;
}

.small {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.881);
}

hr {
    height: 1px;
    border: none;
    background-color: #484a5195;
    margin-bottom: 2vh;
}

.links {
    text-align: center;
}

.linka {
    padding: 2vh;
    width: 80vw;
    position: absolute;
    left: 0vw;
    margin-top: -1.5vh;
    background-color: #00000000;
}

.icon {
    filter: brightness(0) invert(1);
    width: 3.5vh;
    position: absolute;
    left: 1.5vh;
    top: 2.25vh;
    transition-duration: 0.2s;
}

.link {
    backdrop-filter: blur(5px);
    background-color: #4a4a4a36;
    border-radius: 5px;
    margin: 2vh;
    margin-left: 7vw;
    padding: 2vh;
    height: 4vh;
    width: 80vw;
    transition-duration: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#socials{
    width: 30px;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
}
#socials a{
    width: 30px;
}
#socials a img{
    margin-top: -5px;
}

.socialsBox{
    width: 90vw;
    margin-left: 5vw;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}


.link:hover .icon{
    filter: brightness(1) invert(0);
}


.link:hover #github{
    filter: brightness(1) invert(1);
}
.link:hover #journal{
    filter: brightness(5) hue-rotate(-30deg);
}
.link::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #3737378b;
    z-index: -1;
    transition: transform .3s ease;
}

.link {
    position: relative;
}

.link::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.mail {
    width: 3.5vh;
    transition-duration: 0.2s;
}
.mail:hover{
    transform: scale(1.1);
}

.end {
    font-family: "Redacted Script", cursive;
    text-align: center;
    margin-top: 4vh;
    width: 50vw;
    margin-left: 25vw;
    margin-bottom: 7cqi;
    font-size: 15px;
}
.end p{
    opacity: 0.5;
}

.element1{
    margin-top: 1px;
    height: 0px;
    width: 0px;
    top:20vh;
    left:20vw;
    background-color: #d78f00;
    border-radius: 1px;
    position: fixed;
    z-index: -10;
    box-shadow: 120px 80px 40px 20px #0ff;
    transition-duration: 3s;
}
#e2{
    background-color: #73daca;
    box-shadow: 120px 80px 40px 20px #ffaa00;
}

@media (min-width: 800px){
    .link{
        width: 40vw;
        margin-left: 30vw;
    }
    .linka{
        width: 40vw;
    }
    hr{
        width: 30vw;
        margin-left: 10vw;
    }
    .socialsBox{
        width: 30vw;
        margin-left: 43vw;
        transform: translate(-25%);
    }
}

.copy{
    background-color: #00000000;
    border: none;
    color: white;
    z-index: 10;
    opacity: 0.7;
    position: absolute;
    right: 20px;
    padding-bottom: 30px;
    margin-top: -10px;
}
.symbol{
    filter: brightness(0) invert(1);
    height: 17px;
}
.category{
    font-size: 1.1rem;
}
