* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #0f0f14;
    color: rgba(255, 255, 255, 0.881);
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.connect{
    font-size: 2rem;
}
.small{
    font-size: 1.7rem;
}
::selection{
    background-color: #b57800a3;
    color:#0f0f14;
}
#particles-js{
    height: 100vh;
}
.face {
    height: 10vh;
    border-radius: 50%;
}

.container {
    position: absolute;
    top:0;
    text-align: center;
    margin-top: 8vh;
    width: 70vw;
    margin-left: 15vw;
    word-wrap: break-word;
}


a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.881);
}

hr {
    height: 1px;
    border: none;
    background-color: #3c425c;
    margin-bottom: 2vh;
}

.links {
    text-align: center;
    transform: translate(-20%);
}

.linka {
    padding: 2vh;
    width: 80vw;
    position: absolute;
    left: 0vw;
    margin-top: -1.5vh;
    background-color: #00000000;
}

.icon {
    filter: brightness(0) invert(1);
    width: 3.5vh;
    position: absolute;
    left: 1.5vh;
    top: 2.25vh;
    transition-duration: 0.2s;
}

.link {
    backdrop-filter: blur(9px);
    background-color: #2326345e;
    border-radius: 5px;
    margin: 2vh;
    margin-left: 7vw;
    padding: 2vh;
    height: 4vh;
    width: 80vw;
    transition-duration: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}


.link:hover .icon{
    filter: brightness(1) invert(0);
}

.link::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #202230;
    z-index: -1;
    transition: transform .3s ease;
}

.link {
    position: relative;
}

.link::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.mail {
    width: 3.5vh;
    transition-duration: 0.2s;
}
.mail:hover{
    transform: scale(1.1);
}

.end {
    text-align: center;
    margin-top: 4vh;
    width: 50vw;
    margin-left: 25vw;
    margin-bottom: 4vh;
    font-size: 15px;
    transform: translate(-30%);
}

/*====================ANIMATION=================*/
.element1{
    margin-top: 1px;
    height: 0px;
    width: 0px;
    background-color: #d78f00;
    border-radius: 1px;
    animation-duration: 15s;
    position: fixed;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-direction: linear;
    z-index: -10;
    box-shadow: 120px 80px 40px 20px #0ff;
}
#e2{
    animation-duration: 20s;
    background-color: #73daca;
    animation-delay: 0.5s;
    box-shadow: 120px 80px 40px 20px #d78f00;
}

@keyframes move {
    0% {
        top:0vh;
        margin-left: 20vw;
        opacity: 0;
    }
    16%{
        top:52vh;
        margin-left: 70vw;
        opacity: 1;
    }
    32%{
        top:80vh;
        margin-left: 20vw;
    }
    48%{
        top:75vh;
        margin-left: 50vw;
        opacity: 1;
    }
    66%{
        top:20vh;
        margin-left: 57vw;
        opacity: 1;
    }
    83%{
        top:80vh;
        margin-left: -15vw;
        opacity: 1;
    }
    100% {
        top:0vh;
        margin-left: 20vw;
        opacity: 0;
    }
}

@media (max-width: 800px){
    .link{
        width: 40vw;
        margin-left: 30vw;
    }
    .linka{
        width: 40vw;
    }
    hr{
        width: 30vw;
    }
}

.iss{
    filter: invert(1);
}
marquee{
    position: absolute;
    top:40vh;
    rotate: -30deg;
    width: 105vw;
    z-index: -1000;
}
/*
@media (min-width: 800px){
    body{
        font-size: 1.5rem;
    }
    .connect{
        font-size: 1.5rem;
    }
    .small{
        font-size: 1.2rem;
    }
}*/