body{
    margin-top: 4%;
    background-color: #020010;
    color: white;
    font-size:40px;
    font-family:'Times New Roman', Times, serif;
}
::selection{
    background-color: rgba(46, 65, 121, 0.542);
    color: black;
}

img {
    pointer-events: none;
  -webkit-touch-callout: none;
}

.logo{
    margin-top:2%;
    height: 100px;
    margin-right: 30%;
    margin-left: 2.3%;
    border-radius: 5%;
    transition:0.7s;
}
.logo:hover{
    filter: invert(1);
}


hr{
    width: 50%;
    margin-top: 7%;
    margin-bottom: 5%;
    color: rgb(27, 27, 27);
    opacity: 0.7;
}
@media(min-width:1000px){
    .links{
        width: 60%;
        margin-left: 20%;
    }
    .logo{
        margin-top:4%;
    height: 35px;
    margin-right: 30%;
    margin-left: 51%;
    border-radius: 5%;
    transition:0.7s;
}

       
        body{
            margin-top: 1%;
            font-size: larger;
        }
        .face{
            max-height: 200px;
            padding: 0.4%;
            border-radius: 10%;
            margin-left: 15%;
            margin-top: 3%;
        }
        hr{
            width: 30%;
            margin-top: 6%;
            margin-bottom: 2%;
            color: rgb(27, 27, 27);
            opacity: 0.7;
        }
        .sign{
            margin-top: 2%;
            margin-bottom: 3%;
        }
        .name{
            margin-top: 5%;
            margin-left: 6%;
            text-align: justify;
            margin-right: 15%;
        }
        .container{
            padding-top: 5px;
            width: 60%;
            margin-left: 20%;
        }
        .connect{
            width: 70%;
            margin-left: 15%;
        }
        .starlink{
            margin-top: 70%;
        }
}


  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .container{
    position: absolute;
    padding-bottom: 100px;
  }

  .starlink{
    margin-top: -80%;
        width: 110%;
        -ms-transform: rotate(-30deg); /* IE 9 */
        -webkit-transform: rotate(-30deg); /* Safari */
        transform: rotate(-30deg); /* Standard syntax */
        position: absolute;
        z-index: -1000;
  }

  .iss{
    rotate: 76deg;
    filter: invert(1);
  }




.name{
    margin-left: 6%;
    text-align: left;
    margin-right: 3%;
    margin-top:5%;
}
.face{
    max-height: 350px;
    background-color: rgb(27, 27, 27);
    padding: 1%;
    border-radius: 50%;
    margin-left: 3%;
    margin-top: 4%;
}
.connect{
    text-align: center;
}

@media(min-width:1000px){
    .logo{
        padding-top:7px;
        margin-bottom: -1%;
        height: 35px;
        padding-right: 0%;
        margin-left:5%;
    }
    
        .face{
            max-height: 175px;
            padding: 0.4%;
            border-radius: 50%;
            margin-left: 30%;
            margin-top: 3%;
        }
}


  canvas {
    display: block;
    vertical-align: bottom;
  }
  
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }

 

  .starlink{
    margin-top: 85%;
      margin-left:-10%;
        width: 110%;
        -ms-transform: rotate(-30deg); /* IE 9 */
        -webkit-transform: rotate(-30deg); /* Safari */
        transform: rotate(-30deg); /* Standard syntax */
        position: absolute;
        z-index: -1000;
  }

  .iss{
    rotate: 76deg;
    filter: invert(1);
  }

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f0f14;
    color: rgba(255, 255, 255, 0.881);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.face {
    height: 10vh;
}

.container {
    text-align: center;
    margin-top: 8vh;
    width: 70vw;
    margin-left: 15vw;
    word-wrap: break-word;
}

.small {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.881);
}

hr {
    height: 1px;
    border: none;
    background-color: #3c425c;
    margin-bottom: 2vh;
}

.links {
    text-align: center;
}

.linka {
    padding: 2vh;
    width: 80vw;
    position: absolute;
    left: 0vw;
    margin-top: -1.5vh;
    background-color: #00000000;
}

.icon {
    filter: brightness(0) invert(1);
    width: 3.5vh;
    position: absolute;
    left: 1.5vh;
    top: 2.25vh;
    transition-duration: 0.2s;
}

.link {
    backdrop-filter: blur(9px);
    background-color: #2326345e;
    border-radius: 5px;
    margin: 2vh;
    margin-left: 7vw;
    padding: 2vh;
    height: 4vh;
    width: 80vw;
    transition-duration: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}


.link:hover .icon{
    filter: brightness(1) invert(0);
}

.link::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #202230;
    z-index: -1;
    transition: transform .3s ease;
}

.link {
    position: relative;
}

.link::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.mail {
    width: 3.5vh;
    transition-duration: 0.2s;
}
.mail:hover{
    transform: scale(1.1);
}

.end {
    text-align: center;
    margin-top: 4vh;
    width: 50vw;
    margin-left: 25vw;
    margin-bottom: 4vh;
    font-size: 15px;
}

/*====================ANIMATION=================*/
.element1{
    margin-top: 1px;
    height: 0px;
    width: 0px;
    background-color: #d78f00;
    border-radius: 1px;
    animation-duration: 15s;
    position: fixed;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-direction: linear;
    z-index: -10;
    box-shadow: 120px 80px 40px 20px #0ff;
}
#e2{
    animation-duration: 20s;
    background-color: #73daca;
    animation-delay: 0.5s;
    box-shadow: 120px 80px 40px 20px #d78f00;
}

@keyframes move {
    0% {
        top:0vh;
        margin-left: 20vw;
        opacity: 0;
    }
    16%{
        top:52vh;
        margin-left: 70vw;
        opacity: 1;
    }
    32%{
        top:80vh;
        margin-left: 20vw;
    }
    48%{
        top:75vh;
        margin-left: 50vw;
        opacity: 1;
    }
    66%{
        top:20vh;
        margin-left: 57vw;
        opacity: 1;
    }
    83%{
        top:80vh;
        margin-left: -15vw;
        opacity: 1;
    }
    100% {
        top:0vh;
        margin-left: 20vw;
        opacity: 0;
    }
}

@media (min-width: 800px){
    .link{
        width: 40vw;
        margin-left: 30vw;
    }
    .linka{
        width: 40vw;
    }
    hr{
        width: 30vw;
        margin-left: 10vw;
    }
}
